@import "variables";

body,
html {
  height: 100%;
}

.text-center {
  text-align: center;
}

.submit-layout {
  align-items: center;
}

.centered-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-primary {
  color: @primary;
}

.color-orange {
  color: @orange;
}

.color-grey {
  color: @grey-1;
}

.color-red {
  color: @red-1;
}

.bold-text {
  font-weight: bold;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-24 {
  margin-top: 24px;
}

.mr-10 {
  margin-right: 10px;
}

.w-150 {
  width: 150px;
}

.h100 {
  height: 100%;
}

.component-bg {
  background-color: @white;
}

.btn-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  img {
    position: absolute;
    left: 5px;
  }
}

.grey-button {
  color: @white;
  background-color: @grey-1;
}

.table-action {
  cursor: pointer;
  margin-right: 10px;

  .anticon {
    margin-right: 5px;
  }
}

.title {
  font-weight: 800 !important;
}

.h100 {
  height: 100%;
}
