<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-size: 14px;
            text-align: justify;
            line-height: 1.43;
            letter-spacing: normal;
            font-family: Muli;
        }
        
        .button {
            border-radius: 26px;
        }
        
        .button a {
            padding: 17px 15px;
            border: 1px solid #57e7d6;
            border-radius: 26px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
        }
        
        .p {
            color: black;
        }

        .notification-content-highlight {
            color: #3abcca;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!-- <table align="center" class=MsoTableGrid border=0 width="600" cellspacing="0" cellpadding="0" style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td width="600" colspan=2 valign=top style='width: 450.0pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:169.4pt'>
                <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
                    <img width=600 height=221 id="Picture 4" src="<%=asset_url%>banner.png"></p>
            </td>
        </tr>
    </table> -->
    <p><br></p>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0" style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <p>Hi <strong><%=first_name%>,</strong></p>
                            <p>You have a new notification:
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0" style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <p>
                                <%-content%>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p><br></p>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0" style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <p>Sincerely,</p>
                            <p>People Profiler Team</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>