<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-size: 14px;
            text-align: justify;
            line-height: 1.43;
            letter-spacing: normal;
            font-family: Muli;
        }

        .button {
            border-radius: 26px;
        }

        .button a {
            padding: 17px 15px;
            border: 1px solid #57e7d6;
            border-radius: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
        }

        .p {
            color: black;
        }
    </style>
</head>

<body>
    <table align="center" class=MsoTableGrid border=0 width="600" cellspacing="0" cellpadding="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td width="600" colspan=2 valign=top
                style='width:466.4pt;border:none;padding:0in 5.4pt 0in 5.4pt;height:169.4pt'>
                <p class=MsoNormal style='margin-bottom:0in;line-height:normal'>
                    <img width=600 height=221 id="Picture 4" src="<%=asset_url%>banner.png">
                </p>
            </td>
        </tr>
    </table>

    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <p>Hi <strong>
                                    <%=first_name%>,
                                </strong></p>
                            <p> <%=recruiter_name%> has invited you to join People Profiler. Click the button below to accept the invitation.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p><br></p>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" style="background: linear-gradient(to left, #5c96d4, #24bbce);border-radius: 20px; font-family: Muli;font-size: 14px; ;text-decoration: none;font-weight:bold;
                text-align: center;box-shadow: 0 5px 10px 0 rgba(58, 188, 202, 0.17);">
                    <tr>
                        <td bgcolor="#24bbce" width="100%" style="background: linear-gradient(to left, #5c96d4, #24bbce); padding: 11px 15px; border-radius: 20px; font-family: Muli;font-size: 14px; ;text-decoration: none;font-weight:bold;
                         width: 140px; height: 18px; text-align: center;box-shadow: 0 5px 10px 0 rgba(58, 188, 202, 0.17);">
                            <a href="<%=button_link%>" target="_blank"
                                style="text-decoration:none; color: white;;background-image: linear-gradient(to left, #5c96d4, #24bbce)">
                                Confirmation
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p><br></p>
    <table align="center" class=MsoTableGrid border=0 width="500" cellspacing="0" cellpadding="0"
        style='width: 450.0pt;border-collapse:collapse;border:none'>
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0">
                    <tr>
                        <td>
                            <p>People Profiler enables you to:</p>
                            <ul>
                                <li>Create fast & beautiful reports for your shortlisted candidates</li>
                                <li>Automatically reformat resumes using our inbuilt parsing technology</li>
                                <li>Invite candidates to complete our industry-leading personality assessments, enabling your clients to make better hiring decisions</li>
                                <li>Invite clients to a web-based dashboard to review shortlisted candidates and provide fast feedback</li>
                                <li>Plus much more!</li>
                            </ul>
                            <p>Welcome to the People Profiler platform!
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><br></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Sincerely,</p>
                            <p>People Profiler Team</p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>